.vertical-align\:bottom {
  vertical-align: bottom
}

.visibility\:hidden {
  visibility: hidden
}

.\:hocus--visibility\:hidden:focus,
.\:hocus--visibility\:hidden:hover {
  visibility: hidden
}

.\:hover--opacity\:40:hover {
  opacity: .4
}

/* this should be purged: */
.\:hover--opacity\:50:hover {
  opacity: .5
}